.tabs {
  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 4px;
      background-image: url(../images/icons/icon-polygon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      right: 7px;
      top: 17px;
    }

    @include mq("tablet", max) {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 133px;
    border: 1px solid #d3dfe7;
    color: #606774;
    border-bottom: none;
    padding-top: 22px;
    row-gap: 18px;

    svg {
      @include mq("tablet", max) {
        height: 19px;
        width: auto;
      }
    }

    &:not(:last-child) {
      border-right: none;

      @include mq("tablet", max) {
        border-right: 1px solid #aeb6bb;
      }
    }

    &--active {
      color: #213252;
      background-color: #edf1f4;
      border-color: #aeb6bb;

      svg path {
        fill: #000000;
      }

      & + .tabs__btn {
        border-left-color: #aeb6bb;
      }
    }

    &--active:first-child {
      svg circle,
      svg line {
        stroke: #000000;
      }
    }

    &.tabs__btn--active,
    &.tabs__btn--dropdown {
      @include mq("tablet", max) {
        display: flex;
        position: static;
      }
    }

    @include mq("tablet", max) {
      display: none;
      position: absolute;
      min-height: auto;
      flex-direction: row;
      padding: 10px 20px 10px 10px;
      border-color: #aeb6bb;
    }
  }

  &__btn-text {
    max-width: 130px;
    padding: 5px;

    @include mq("tablet-2", max) {
      font-size: 12px;
    }

    @include mq("tablet", max) {
      max-width: none;
    }
  }

  &__content-item {
    border-top: 1px solid #aeb6bb;
    display: none;

    &.tabs__content-item--active {
      display: flex;

      @include mq("tablet", max) {
        flex-direction: column;
      }
    }

    &:nth-child(4) {
      ul {
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        column-gap: 75px;

        @include mq("tablet-2", max) {
          height: auto;
        }
      }
    }

    &:nth-child(5) {
      p {
        margin-bottom: 7px;
      }

      .tabs__content-box {
        flex-direction: row;
        align-content: flex-start;
        column-gap: 35px;
        row-gap: 22px;

        @include mq("tablet", max) {
          row-gap: 0;
        }
      }
    }
  }

  &__content-img {
    width: 50%;
    object-fit: contain;
    border: 1px solid #aeb6bb;
    border-top: none;

    @include mq("tablet", max) {
      width: auto;
      max-height: 177px;
      border-bottom: none;
    }
  }

  &__content-box {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 60px 50px;
    border-bottom: 1px solid #aeb6bb;
    border-right: 1px solid #aeb6bb;

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 2;
      margin-bottom: 18px;

      @include mq("tablet", max) {
        display: none;
      }
    }

    ul {
      padding-left: 25px;
      margin-bottom: 25px;
      font-size: 12px;
      line-height: 2;
    }

    li {
      list-style: disc;
      line-height: 1.75;
    }

    @include mq("tablet-2", max) {
      padding: 20px;
    }

    @include mq("tablet", max) {
      align-items: center;
      width: auto;
      border-left: 1px solid #aeb6bb;
    }
  }

  &__box-item {
    max-width: 180px;
    width: 100%;

    @include mq("tablet", max) {
      max-width: 200px;
    }
  }

  &__button {
    margin-top: auto;
    padding: 15px 52px;
    align-self: start;

    @include mq("tablet", max) {
      font-size: 14px;
      align-self: center;
    }
  }
}
