.tabs {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 133px;
    border: 1px solid #d3dfe7;
    color: #606774;
    border-bottom: none;
    padding-top: 22px;
    row-gap: 18px;

    &--active {
      color: #213252;
      background-color: #edf1f4;
      border-color: #aeb6bb;

      svg path {
        fill: #000000;
      }

      & + .tabs__btn {
        border-left-color: #aeb6bb;
      }
    }

    &--active:first-child {
      svg circle,
      svg line {
        stroke: #000000;
      }
    }

    &:not(:last-child) {
      border-right: none;
    }

    &:last-child {
      .tabs__btn-text {
        max-width: 85px;
      }
    }
  }

  &__btn-text {
    max-width: 130px;
  }

  &__content-item {
    border-top: 1px solid #aeb6bb;
    display: none;

    &.tabs__content-item--active {
      display: flex;
    }

    &:nth-child(4) {
      ul {
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        column-gap: 75px;
      }
    }

    &:nth-child(5) {
      p {
        margin-bottom: 7px;
      }

      .tabs__content-box {
        flex-direction: row;
        align-content: flex-start;
        column-gap: 35px;
        row-gap: 22px; 
        padding-top: 44px;
      }
    }
  }

  &__content-img {
    width: 50%;
    object-fit: contain;
    border: 1px solid #aeb6bb;
    border-top: none;
  }

  &__content-box {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 108px 63px 88px 63px;
    border-bottom: 1px solid #aeb6bb;
    border-right: 1px solid #aeb6bb;

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 2;
      margin-bottom: 18px;
    }

    ul {
      padding-left: 24px;
      margin-bottom: 10px;
    }

    li {
      list-style: disc;
      line-height: 1.75;
    }
  }

  &__box-item {
    max-width: 186px;
  }

  &__button{
    margin-top: auto;
    padding: 15px 52px;
    align-self: start;
  }
}

